@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
    font-family: Helvetica, sans-serif;
    background: SteelBlue;
    height: 100%;
}


#content{
    display: flex;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    flex-direction: column;
    height: 83.5%;
}
#register-item{
    margin:10px;
}