@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);

body {
    font-family: Helvetica, sans-serif;
    background: SteelBlue;
    height: 100%;
}


#content{
    display: flex;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100%;
    flex-direction: column;
    height: 83.5%;
}


#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
    
}
#button{
    display: flex;
    background: grey;
    margin: 15px;
}

#header {
    color: white;
    font-family: 'Trocchi',serif;
    font-size: 60px;
    margin: 10px;
    flex-direction: row;
    text-align:center;
    justify-content: center;
}
#intro{
    text-align:center;
    justify-content: center;
    margin: 15px;
}

#search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}
#question, #questionEdit  {
    text-align:center;
    justify-content: center;
    width: 600px;
    height: 400px;
    overflow: scroll;
}
